<!DOCTYPE html>
<html lang="en" class="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>@ViewData["Title"] - kaam</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Material Symbols -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="app-body">

  <!-- TOP NAVBAR -->
  <header class="topbar">

    <div class="topbar-left">
      <a asp-page="/Index" class="brand">
        kaam
      </a>

      <nav class="top-nav">
        <a asp-page="/Index">Dashboard</a>

        <a asp-page="/Production">
          Production
        </a>

        <a asp-page="/Warehouse/Index">
          Warehouse
        </a>

        <a asp-page="/Analytics/Index">
          Analytics
        </a>
        <a asp-page="/Privacy">Privacy</a>
      </nav>
    </div>

    <!-- RIGHT SIDE -->
    <div class="topbar-right">

      @* <div class="search-box">
        <span class="material-symbols-outlined">
          search
        </span>

        <input type="text" placeholder="Search..." />
      </div> *@

      <button class="icon-btn">
        <span class="material-symbols-outlined">
          notifications
        </span>
      </button>

      <a asp-page="/Account/Profile" class="profile-btn">

        <span class="material-symbols-outlined">
          account_circle
        </span>
      </a>
    </div>
  </header>

  <!-- PAGE CONTENT -->
  <main class="page-container">
    @RenderBody()
  </main>

  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
